[submodule "lib/msys2"]
	path = lib/msys2
	url = https://github.com/MineFartS/MSYS2
    ignore = all

[submodule "lib/diskutils/nlohmann"]
	path = lib/pyobj/nlohmann
	url = https://github.com/MineFartS/CPP-JSON
    ignore = all

[submodule "lib/pyobj/pybind11"]
	path = lib/pyobj/pybind11
	url = https://github.com/MineFartS/pybind
    ignore = all

[submodule "lib/python314"]
	path = lib/python314
	url = https://github.com/MineFartS/python-embed
    ignore = all
